In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("C:\\Users\\Satish\\Downloads\\DataSets\\diabetes.csv")

In [3]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [4]:
df[df["Glucose"]==0]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
75,1,0,48,20,0,24.7,0.140,22,0
182,1,0,74,20,23,27.7,0.299,21,0
342,1,0,68,35,0,32.0,0.389,22,0
349,5,0,80,32,0,41.0,0.346,37,1
502,6,0,68,41,0,39.0,0.727,41,1

In [5]:
df[df["BloodPressure"]==0]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
7,10,115,0,0,0,35.3,0.134,29,0
15,7,100,0,0,0,30.0,0.484,32,1
49,7,105,0,0,0,0.0,0.305,24,0
60,2,84,0,0,0,0.0,0.304,21,0
78,0,131,0,0,0,43.2,0.270,26,1
81,2,74,0,0,0,0.0,0.102,22,0
172,2,87,0,23,0,28.9,0.773,25,0
193,11,135,0,0,0,52.3,0.578,40,1
222,7,119,0,0,0,25.2,0.209,37,0
261,3,141,0,0,0,30.0,0.761,27,1
266,0,138,0,0,0,36.3,0.933,25,1
269,2,146,0,0,0,27.5,0.240,28,1
300,0,167,0,0,0,32.3,0.839,30,1
332,1,180,0,0,0,43.3,0.282,41,1
336,0,117,0,0,0,33.8,0.932,44,0
347,3,116,0,0,0,23.5,0.187,23,0
357,13,129,0,30,0,39.9,0.569,44,1
426,0,94,0,0,0,0.0,0.256,25,0
430,2,99,0,0,0,22.2,0.108,23,0
435,0,141,0,0,0,42.4,0.205,29,1
453,2,119,0,0,0,19.6,0.832,72,0
468,8,120,0,0,0,30.0,0.183,38,1
484,0,145,0,0,0,44.2,0.630,31,1
494,3,80,0,0,0,0.0,0.174,22,0
522,6,114,0,0,0,0.0,0.189,26,0
533,6,91,0,0,0,29.8,0.501,31,0
535,4,132,0,0,0,32.9,0.302,23,1
589,0,73,0,0,0,21.1,0.342,25,0
601,6,96,0,0,0,23.7,0.190,28,0
604,4,183,0,0,0,28.4,0.212,36,1
619,0,119,0,0,0,32.4,0.141,24,1
643,4,90,0,0,0,28.0,0.610,31,0
697,0,99,0,0,0,25.0,0.253,22,0
703,2,129,0,0,0,38.5,0.304,41,0
706,10,115,0,0,0,0.0,0.261,30,1

In [6]:
df[df["BMI"]==0]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
9,8,125,96,0,0,0.0,0.232,54,1
49,7,105,0,0,0,0.0,0.305,24,0
60,2,84,0,0,0,0.0,0.304,21,0
81,2,74,0,0,0,0.0,0.102,22,0
145,0,102,75,23,0,0.0,0.572,21,0
371,0,118,64,23,89,0.0,1.731,21,0
426,0,94,0,0,0,0.0,0.256,25,0
494,3,80,0,0,0,0.0,0.174,22,0
522,6,114,0,0,0,0.0,0.189,26,0
684,5,136,82,0,0,0.0,0.640,69,0
706,10,115,0,0,0,0.0,0.261,30,1

In [7]:
df[df["DiabetesPedigreeFunction"]==0]

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [8]:
df[df["Age"]==0]

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [9]:
df.keys()

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [10]:
cols = ['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin','BMI']

In [16]:
#l1 = [5,5,5,np.NaN,np.NaN]
#pd1 = pd.DataFrame(l1)
#pd1
#pd1.mean()

0    5.0
dtype: float64

In [15]:
#l2 = [5,5,5,0,0]
#pd2 = pd.DataFrame(l2)
#pd2
#pd2.mean()

0    3.0
dtype: float64

In [17]:
for i in cols :
    print(i)

Glucose
BloodPressure
SkinThickness
Insulin
BMI

In [18]:
for i in cols :
    df[i] = df[i].replace(0,np.NaN)
    m = df[i].mean(skipna = True)
    df[i] = df[i].replace(np.NaN,m)

In [19]:
df[df["Glucose"] == 0]

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [20]:
df[df["BloodPressure"] == 0]

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [21]:
df[df["SkinThickness"] == 0]

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [22]:
df[df["Insulin"] == 0]

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [23]:
df[df["BMI"] == 0]

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [24]:
x = df.drop("Outcome",axis = 1)

In [25]:
x.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148.0,72.0,35.00000,155.548223,33.6,0.627,50
1,1,85.0,66.0,29.00000,155.548223,26.6,0.351,31
2,8,183.0,64.0,29.15342,155.548223,23.3,0.672,32
3,1,89.0,66.0,23.00000,94.000000,28.1,0.167,21
4,0,137.0,40.0,35.00000,168.000000,43.1,2.288,33

In [29]:
y = df[["Outcome"]]

In [30]:
y.head()

   Outcome
0        1
1        0
2        1
3        0
4        1

In [31]:
x.shape

(768, 8)

In [32]:
y.shape

(768, 1)

In [115]:
from sklearn.model_selection import train_test_split

In [281]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20)

In [282]:
x_train.shape

(614, 8)

In [283]:
x_test.shape

(154, 8)

In [284]:
y_train.shape

(614, 1)

In [285]:
y_test.shape

(154, 1)

In [286]:
import math

In [287]:
math.sqrt(len(x_test))

12.409673645990857

In [288]:
import warnings
warnings.filterwarnings("ignore")

In [289]:
from sklearn.neighbors import KNeighborsClassifier

In [290]:
Knn = KNeighborsClassifier(n_neighbors=9,metric = "euclidean")

In [291]:
Knn

KNeighborsClassifier(metric='euclidean', n_neighbors=9)

In [292]:
Knn.fit(x_train,y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=9)

In [293]:
Knn.predict(x_test)

array([0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0],
      dtype=int64)

In [294]:
Knn.score(x_test,y_test)

0.7467532467532467

In [295]:
from sklearn.preprocessing import StandardScaler

In [296]:
std = StandardScaler()

In [297]:
std.fit(x_train)

StandardScaler()

In [298]:
x_train_ss = std.transform(x_train)

In [299]:
x_test_ss = std.transform(x_test)

In [300]:
classKNN = KNeighborsClassifier(n_neighbors = 8,metric = "euclidean")

In [301]:
classKNN.fit(x_train_ss,y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=8)

In [302]:
classKNN.score(x_test_ss,y_test)

0.7987012987012987

In [303]:
from sklearn.linear_model import LogisticRegression

In [304]:
lreg = LogisticRegression()

In [308]:
l1 = [classKNN,lreg,Knn]

In [309]:
print(lreg)

LogisticRegression()

In [310]:
for i in l1 :
    print(i)

KNeighborsClassifier(metric='euclidean', n_neighbors=8)
LogisticRegression()
KNeighborsClassifier(metric='euclidean', n_neighbors=9)

In [311]:
for i in l1 :
    print(i)
    i.fit(x_train_ss,y_train)
    result = i.score(x_test_ss,y_test)
    print(result)
    print("**********************")

KNeighborsClassifier(metric='euclidean', n_neighbors=8)
0.7987012987012987
**********************
LogisticRegression()
0.8376623376623377
**********************
KNeighborsClassifier(metric='euclidean', n_neighbors=9)
0.8051948051948052
**********************